<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title id="ccn-pageName"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.12.1/js/all.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-i18n-properties@1.2.7/jquery.i18n.properties.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jsrender@1.0.10/jsrender.min.js"></script>

    <script type="text/x-jsrender" id="jsrender-tmpl-headerNav" src="/static/tmpl/headerNav.tmpl"></script>
    <script type="text/x-jsrender" id="jsrender-tmpl-userItem" src="/static/tmpl/userItem.tmpl"></script>

    <script type="text/javascript" src="/static/js/localStorageAssist.js"></script>
    <script type="text/javascript" src="/static/js/i18n.js"></script>
    <script type="text/javascript" src="/static/js/utils.js"></script>
    <script type="text/javascript" src="/static/js/api.js"></script>
    <script type="text/javascript" src="/static/js/headerNav.js"></script>
    
    <script type="text/javascript" src="/static/js/page/login.js"></script>
    <link rel="stylesheet" href="/static/css/admin.css">
</head>

<body>
    <div class="container" style="display: flex; flex-flow: column; margin-top: 1.25rem;">
        <h1 class="title">My account</h1>
        <div class="field">
            <label class="label">Change password</label>
            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="password" placeholder="New password">
                </div>
                <div class="control">
                    <a class="button is-primary">
                        <span class="icon is-small"><i class="fas fa-key"></i></span>
                    </a>
                </div>
            </div>
        </div>

        <h1 class="title">User list</h1>
        <div class="control-list">
            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text">
                </div>
                <div class="control">
                    <a class="button is-primary">
                        <span class="icon is-small"><i class="fas fa-plus"></i></span>
                    </a>
                </div>
            </div>
            <div class="control">
                <a class="button is-primary">
                    <span class="icon is-small"><i class="fas fa-sync"></i></span>
                </a>
            </div>
        </div>

        <div style="display: flex; flex-flow: column; margin-top: 1.25rem;">
            <div class="user-item card">
                <div class="user-item-words">
                    <p><b>this is a name</b></p>
                </div>

                <div class="user-item-icon control">
                    <a class="button"><span class="icon is-small"><i class="fas fa-pen"></i></span></a>
                </div>
                <div class="user-item-icon control">
                    <a class="button"><span class="icon is-small"><i class="fas fa-trash"></i></span></a>
                </div>
            </div>
            <div class="user-item card">
                <div class="user-item-words">
                    <p><b>this is a name</b></p>
                    <div class="control">
                        <input class="input" type="password" placeholder="New password"></input>
                    </div>
                </div>

                <div class="user-item-icon control">
                    <a class="button" href="javascript:void(0);"><span class="icon is-small"><i class="fas fa-check"></i></span></a>
                </div>
                <div class="user-item-icon control">
                    <a class="button" href="javascript:void(0);"><span class="icon is-small"><i class="fas fa-times"></i></span></a>
                </div>
            </div>

        </div>
    </div>

</body>

</html>