<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title id="ccn-pageName"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.12.1/js/all.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-i18n-properties@1.2.7/jquery.i18n.properties.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jsrender@1.0.10/jsrender.min.js"></script>

    <script type="text/x-jsrender" id="jsrender-tmpl-headerNav" src="/static/tmpl/headerNav.tmpl"></script>
    <script type="text/x-jsrender" id="jsrender-tmpl-messagebox" src="/static/tmpl/messagebox.tmpl"></script>
    <script type="text/x-jsrender" id="jsrender-tmpl-userItem" src="/static/tmpl/userItem.tmpl"></script>
    <script type="text/x-jsrender" id="jsrender-tmpl-tokenItem" src="/static/tmpl/tokenItem.tmpl"></script>

    <script type="text/javascript" src="/static/js/localStorageAssist.js"></script>
    <script type="text/javascript" src="/static/js/i18n.js"></script>
    <script type="text/javascript" src="/static/js/utils.js"></script>
    <script type="text/javascript" src="/static/js/api.js"></script>
    <script type="text/javascript" src="/static/js/template.js"></script>
    <script type="text/javascript" src="/static/js/headerNav.js"></script>
    <script type="text/javascript" src="/static/js/tabcontrol.js"></script>
    <script type="text/javascript" src="/static/js/messagebox.js"></script>
    
    <script type="text/javascript" src="/static/js/page/admin.js"></script>
    <link rel="stylesheet" href="/static/css/admin.css">
</head>

<body>

    <div class="container" style="margin-top: 20px;">
        <div class="tabs">
            <ul>
                <li id="tabcontrol-tab-1-1" class="tabcontrol-tab-1"><a
                        i18n-name="ccn-i18n-admin-tabcontrol-tabProfile"></a></li>
                <li id="tabcontrol-tab-1-2" class="tabcontrol-tab-1"><a
                        i18n-name="ccn-i18n-admin-tabcontrol-tabToken"></a></li>
                <li id="tabcontrol-tab-1-3" class="tabcontrol-tab-1"><a
                        i18n-name="ccn-i18n-admin-tabcontrol-tabUserList"></a></li>
            </ul>
        </div>
    </div>

    <div id="tabcontrol-panel-1-1" class="container tabcontrol-panel-1" style="margin-top: 20px;">
        <h1 class="title" i18n-name="ccn-i18n-admin-changePassword"></h1>
        <div class="field has-addons">
            <div class="control">
                <input id="ccn-admin-profile-inputPassword" class="input" type="password">
            </div>
            <div class="control">
                <a id="ccn-admin-profile-btnChangePassword" class="button is-primary">
                    <span class="icon is-small"><i class="fas fa-key"></i></span>
                </a>
            </div>
        </div>
    </div>

    <div id="tabcontrol-panel-1-2" class="container tabcontrol-panel-1" style="margin-top: 20px;">
        <h1 class="title" i18n-name="ccn-i18n-admin-manageToken"></h1>
        <h2 class="subtitle" i18n-name="ccn-i18n-admin-manageToken-desc"></h2>
        <div id="ccn-admin-tokenList-btnRefresh" class="control">
            <a class="button is-primary">
                <span class="icon is-small"><i class="fas fa-sync"></i></span>
            </a>
        </div>

        <div id="ccn-admin-tokenList" style="display: flex; flex-flow: column; margin-top: 1.25rem;">
        </div>
    </div>

    <div id="tabcontrol-panel-1-3" class="container tabcontrol-panel-1" style="margin-top: 20px;">
        <h1 class="title" i18n-name="ccn-i18n-admin-userList"></h1>
        <div class="control-list">
            <div class="field has-addons">
                <div class="control">
                    <input id="ccn-admin-userList-inputUsername" class="input" type="text">
                </div>
                <div id="ccn-admin-userList-btnAdd" class="control">
                    <a class="button is-primary">
                        <span class="icon is-small"><i class="fas fa-plus"></i></span>
                    </a>
                </div>
            </div>
            <div id="ccn-admin-userList-btnRefresh" class="control">
                <a class="button is-primary">
                    <span class="icon is-small"><i class="fas fa-sync"></i></span>
                </a>
            </div>
        </div>

        <div id="ccn-admin-userList" style="display: flex; flex-flow: column; margin-top: 1.25rem;">
        </div>
    </div>

</body>

</html>