<!DOCTYPE html>
<html style="height: 100%; overflow: hidden;">

<head>
    <meta charset="utf-8">
    <title id="ccn-pageName"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.12.1/js/all.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-i18n-properties@1.2.7/jquery.i18n.properties.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jsrender@1.0.10/jsrender.min.js"></script>

    <script type="text/x-jsrender" id="jsrender-tmpl-headerNav" src="/static/tmpl/headerNav.tmpl"></script>

    <script type="text/javascript" src="/static/js/localStorageAssist.js"></script>
    <script type="text/javascript" src="/static/js/i18n.js"></script>
    <script type="text/javascript" src="/static/js/utils.js"></script>
    <script type="text/javascript" src="/static/js/api.js"></script>
    <script type="text/javascript" src="/static/js/template.js"></script>
    <script type="text/javascript" src="/static/js/headerNav.js"></script>
    
    <script type="text/javascript" src="/static/js/page/login.js"></script>
</head>

<body style="height: 100%; display: flex; flex-flow: column;">

    <div style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;">
        <div class="card" style="padding: 1.25rem;">
            <div class="field">
                <label class="label" i18n-name="ccn-login-form-username"></label>
                <div class="control has-icons-left has-icons-right">
                    <input id="ccn-login-form-username" class="input" type="text">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label" i18n-name="ccn-login-form-password"></label>
                <p class="control has-icons-left">
                    <input id="ccn-login-form-password" class="input" type="password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>

            <div class="control">
                <button id="ccn-login-form-login" class="button is-primary" i18n-name="ccn-login-form-login"></button>
            </div>

        </div>
    </div>

</body>

</html>