{{for start=0 end=6 step=1 itemVar="~row"}}
<div>
    {{for start=0 end=7 step=1 itemVar="~column"}}
    <div id="ccn-calendar-calendarItem-{{:~row}}-{{:~column}}">
        <p><b>1</b></p>
        <p><small>春分</small></p>
        <p><span class="icon is-small"><i class="fas fa-tasks"></i></span>114514</p>
    </div>
    {{/for}}
</div>
{{/for}}