<div id="ccn-datetimepicker-modal" class="modal is-active" style="float: left; position: fixed; top: 0; bottom: 0; left: 0; right: 0;">
    <div class="modal-background"></div>
    <div class="modal-card" style="height: 70%;">
        <header class="modal-card-head">
            <p id="ccn-datetimepicker-date" class="modal-card-title">2020年2月30日</p>
            <p id="ccn-datetimepicker-time" class="modal-card-title">24：61</p>
        </header>
        <div class="modal-card-body pickerContainer">
            <div style="display: none;">
                <nav class="level is-mobile">
                    <div class="level-left">
                        <div class="level-item control">
                            <a class="button">
                                <span class="icon is-small"><i class="fas fa-chevron-circle-left"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="level-item">this is a title</div>
                    <div class="level-right">
                        <div class="level-item control">
                            <a class="button">
                                <span class="icon is-small"><i class="fas fa-chevron-circle-right"></i></span>
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="perfectTable">
                    <div>
                        <div>abc</div>
                        <div>abc</div>
                        <div>abc</div>
                        <div>abc</div>
                    </div>
                    <div>
                        <div>abc</div>
                        <div>abc</div>
                        <div>abc</div>
                        <div>abc</div>
                    </div>
                    <div>
                        <div>abc</div>
                        <div>abc</div>
                        <div>abc</div>
                        <div>abc</div>
                    </div>
                </div>
            </div>
            <div style="display: none;">
                <nav class="level is-mobile">
                    <div class="level-left">
                        <div class="level-item control">
                            <a class="button">
                                <span class="icon is-small"><i class="fas fa-chevron-circle-left"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="level-item">this is a title</div>
                    <div class="level-right">
                        <div class="level-item control">
                            <a class="button">
                                <span class="icon is-small"><i class="fas fa-chevron-circle-right"></i></span>
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="perfectTable">
                    <div>
                        <div i18n-name="ccn-i18n-universal-month-1"></div>
                        <div i18n-name="ccn-i18n-universal-month-2"></div>
                        <div i18n-name="ccn-i18n-universal-month-3"></div>
                        <div i18n-name="ccn-i18n-universal-month-4"></div>
                    </div>
                    <div>
                        <div i18n-name="ccn-i18n-universal-month-5"></div>
                        <div i18n-name="ccn-i18n-universal-month-6"></div>
                        <div i18n-name="ccn-i18n-universal-month-7"></div>
                        <div i18n-name="ccn-i18n-universal-month-8"></div>
                    </div>
                    <div>
                        <div i18n-name="ccn-i18n-universal-month-9"></div>
                        <div i18n-name="ccn-i18n-universal-month-10"></div>
                        <div i18n-name="ccn-i18n-universal-month-11"></div>
                        <div i18n-name="ccn-i18n-universal-month-12"></div>
                    </div>
                </div>
            </div>
            <div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        <div class="level-item control">
                            <a class="button">
                                <span class="icon is-small"><i class="fas fa-chevron-circle-left"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="level-item">this is a title</div>
                    <div class="level-right">
                        <div class="level-item control">
                            <a class="button">
                                <span class="icon is-small"><i class="fas fa-chevron-circle-right"></i></span>
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="perfectTable">
                    <div>
                        <div i18n-name="ccn-i18n-universal-week-1"></div>
                        <div i18n-name="ccn-i18n-universal-week-2"></div>
                        <div i18n-name="ccn-i18n-universal-week-3"></div>
                        <div i18n-name="ccn-i18n-universal-week-4"></div>
                        <div i18n-name="ccn-i18n-universal-week-5"></div>
                        <div i18n-name="ccn-i18n-universal-week-6"></div>
                        <div i18n-name="ccn-i18n-universal-week-7"></div>
                    </div>
                    <div>
                        <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                    </div>
                    <div>
                        <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                    </div>
                    <div>
                        <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                    </div>
                    <div>
                        <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                    </div>
                    <div>
                        <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                    </div>
                    <div>
                        <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="modal-card-foot">
            <a id="ccn-datetimepicker-btnConfirm" class="button is-success">
                <span i18n-name="ccn-i18n-datetimepicker-confirm"></span>
            </a>
            <a id="ccn-datetimepicker-btnCancel" class="button">
                <span i18n-name="ccn-i18n-datetimepicker-cancel"></span>
            </a>
        </footer>
    </div>
</div>