<div id="ccn-displayOwnedItem-{{:uuid}}" class="collection-item card">
    <div class="collection-item-words">
        <p>{{>name}}</p>
    </div>

    <div id="ccn-displayOwnedItem-btnHide-{{:uuid}}" uuid="{{:uuid}}" class="collection-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-eye"></i></span></a>
    </div>
    <div id="ccn-displayOwnedItem-btnShow-{{:uuid}}" uuid="{{:uuid}}" class="collection-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-eye-slash"></i></span></a>
    </div>
</div>