<nav class="navbar has-shadow is-spaced bd-navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="home">
            <img src="/static/image/icon.png"><b style="margin:0 0 0 14px;">coconut-leaf</b>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a i18n-name="ccn-header-nav-home" id="cnn-header-nav-home" class="navbar-item" href="/web/home"></a>
            <a i18n-name="ccn-header-nav-calendar" id="cnn-header-nav-calendar" class="navbar-item" href="/web/calendar"></a>
            <a i18n-name="ccn-header-nav-todo" id="cnn-header-nav-todo" class="navbar-item" href="/web/todo"></a>
            <a i18n-name="ccn-header-nav-admin" id="cnn-header-nav-admin" class="navbar-item" href="/web/admin"></a>
        </div>

        <div class="navbar-end">
            <p id="cnn-header-user-login" class="navbar-item">
                <a class="button is-primary" i18n-name="ccn-header-user-login" href="/web/login"></a>
            </p>
            <p id="cnn-header-user-logout" class="navbar-item">
                <a class="button is-primary" i18n-name="ccn-header-user-logout"></a>
            </p>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" i18n-name="ccn-header-language"></a>

                <div id="cnn-header-language" class="navbar-dropdown">
                    <a language="en-US" class="navbar-item">English</a>
                    <a language="zh-CN" class="navbar-item">简体中文</a>
                </div>
            </div>
        </div>
    </div>
</nav>