<div id="ccn-messagebox-modal" class="modal" style="float: left; position: fixed; top: 0; bottom: 0; left: 0; right: 0;">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p id="ccn-messagebox-title" class="modal-card-title" i18n-name="ccn-messagebox-title"></p>
            <button id="ccn-messagebox-btnClose" class="delete" aria-label="close"></button>
        </header>
        <div class="modal-card-body">
            <p id="ccn-messagebox-body"></p>
        </div>
        <footer class="modal-card-foot">
            <button id="ccn-messagebox-btnConfirm" class="button is-success" i18n-name="ccn-messagebox-confirm"></button>
        </footer>
    </div>
</div>