<div id="ccn-ownedItem-{{:uuid}}" class="collection-item card">
    <div class="collection-item-words">
        <p id="ccn-ownedItem-textName-{{:uuid}}">{{>name}}</p>
        <div id="ccn-ownedItem-boxName-{{:uuid}}" class="control">
            <input id="ccn-ownedItem-inputName-{{:uuid}}" class="input" type="text"></input>
        </div>
    </div>

    <div id="ccn-ownedItem-btnEdit-{{:uuid}}" uuid="{{:uuid}}" class="collection-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-pen"></i></span></a>
    </div>
    <div id="ccn-ownedItem-btnShare-{{:uuid}}" uuid="{{:uuid}}" class="collection-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-share"></i></a>
    </div>
    <div id="ccn-ownedItem-btnDelete-{{:uuid}}" uuid="{{:uuid}}" class="collection-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-trash"></i></a>
    </div>
    <div id="ccn-ownedItem-btnUpdate-{{:uuid}}" uuid="{{:uuid}}" class="collection-item-icon control">
        <button class="button"><span class="icon is-small"><i class="fas fa-check"></i></span></button>
    </div>
    <div id="ccn-ownedItem-btnCancelUpdate-{{:uuid}}" uuid="{{:uuid}}" class="collection-item-icon control">
        <button class="button"><span class="icon is-small"><i class="fas fa-times"></i></button>
    </div>
</div>