<div class="schedule-day container">
    <div class="schedule-day-words">
        <b>13</b>
        <b>Friday</b>
    </div>
    <div class="schedule-event-list">
        <div class="schedule-event card">
            <div class="schedule-event-words">
                <p class="level-item"><b>This is
                        titleewwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</b>
                </p>
                <p class="level-item">this is
                    subtitleeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                </p>
            </div>

            <div class="schedule-event-icon">
                <span class="icon is-small"><i class="fas fa-lock"></i></span>
            </div>
        </div>

        <div class="schedule-event card">
            <div class="schedule-event-words">
                <p class="level-item"><b>This is
                        titleewwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</b>
                </p>
                <p class="level-item">this is
                    subtitleeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                </p>
            </div>

            <div class="schedule-event-icon">
                <span class="icon is-small"><i class="fas fa-lock"></i></span>
            </div>
        </div>
    </div>
</div>