{{for renderdata}}
<div class="schedule-day container">
    <div class="schedule-day-words">
        <b i18n-name="ccn-i18n-universal-month-{{:month}}"></b>
        <b>{{>day}}</b>
        <b i18n-name="ccn-i18n-universal-week-{{:dayOfWeek}}"></b>
    </div>
    <div class="schedule-event-list">
        {{for events}}
        {{if isVisible}}
        <div class="schedule-event-outter card" uuid="{{:uuid}}">
            <div style="background: {{:color}}; width: 0.75rem; height: 100%;"></div>
            <div class="schedule-event-inner">
                <div class="schedule-event-words">
                    <p class="level-item"><b>{{>title}}</b></p>
                    <p class="level-item">{{>description}}</p>
                    <p class="level-item"><span>{{>start}}</span>-<span>{{>end}}</span></p>
                </div>
                <div class="schedule-event-icon">
                    {{if isLocked}}
                    <span class="icon is-small"><i class="fas fa-lock"></i></span>
                    {{/if}}
                    {{if timezoneWarning}}
                    <span class="icon is-small"><i class="fas fa-globe"></i></span>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/if}}
        {{/for}}
    </div>
</div>
{{/for}}