<div class="collection-item card">
    <div class="collection-item-words">
        <p>this is a
            namewwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
        </p>
    </div>

    <div class="collection-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-pen"></i></span></a>
    </div>
    <div class="collection-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-trash"></i></a>
    </div>
    <div class="collection-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-eye"></i></span></a>
    </div>
    <div class="collection-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-eye-slash"></i></span></a>
    </div>
</div>