<div id="ccn-calendar-sharedItem-{{:uuid}}" class="collection-item card">
    <div class="collection-item-words">
        <b>{{>name}}</b>
        <p>
            <span i18n-name="ccn-calendar-sharedItem-sharedBy"></span>
            <span>{{>username}}</span>
        </p>
    </div>

    <div id="ccn-calendar-sharedItem-btnHide-{{:uuid}}" uuid="{{:uuid}}" class="collection-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-eye"></i></span></a>
    </div>
    <div id="ccn-calendar-sharedItem-btnShow-{{:uuid}}" uuid="{{:uuid}}" class="collection-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-eye-slash"></i></span></a>
    </div>
</div>