<div id="ccn-calendar-sharingItem-{{:uuid}}" class="collection-item card">
    <div class="collection-item-words">
        <p id="ccn-admin-userItem-textName-{{:uuid}}">{{>name}}</p>
        <div id="ccn-admin-userItem-boxName-{{:uuid}}" class="control">
            <input id="ccn-admin-userItem-inputName-{{:uuid}}" class="input" type="text"></input>
        </div>
    </div>

    <div id="ccn-calendar-sharingItem-btnEdit-{{:uuid}}" uuid="{{:uuid}}" class="collection-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-pen"></i></span></a>
    </div>
    <div id="ccn-calendar-sharingItem-btnShare-{{:uuid}}" uuid="{{:uuid}}" class="collection-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-share"></i></a>
    </div>
    <div id="ccn-calendar-sharingItem-btnDelete-{{:uuid}}" uuid="{{:uuid}}" class="collection-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-trash"></i></a>
    </div>
    <div id="ccn-calendar-sharingItem-btnHide-{{:uuid}}" uuid="{{:uuid}}" class="collection-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-eye"></i></span></a>
    </div>
    <div id="ccn-calendar-sharingItem-btnShow-{{:uuid}}" uuid="{{:uuid}}" class="collection-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-eye-slash"></i></span></a>
    </div>
    <div id="ccn-calendar-sharingItem-btnUpdate-{{:uuid}}" uuid="{{:uuid}}" class="todo-item-icon control">
        <button class="button"><span class="icon is-small"><i class="fas fa-check"></i></span></button>
    </div>
    <div id="ccn-calendar-sharingItem-btnCancelUpdate-{{:uuid}}" uuid="{{:uuid}}" class="todo-item-icon control">
        <button class="button"><span class="icon is-small"><i class="fas fa-times"></i></button>
    </div>
</div>