<div class="todo-item card">
    <div class="todo-item-words">
        <p>this is a
            namewwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
        </p>
    </div>

    <div class="todo-item-icon control">
        <button class="button"><span class="icon is-small"><i class="fas fa-pen"></i></span></button>
    </div>
    <div class="todo-item-icon control">
        <button class="button"><span class="icon is-small"><i class="fas fa-trash"></i></button>
    </div>
</div>

<div class="todo-item card">
    <div class="todo-item-words control">
        <textarea class="textarea"></textarea>
    </div>

    <div class="todo-item-icon control">
        <button class="button"><span class="icon is-small"><i class="fas fa-check"></i></span></button>
    </div>
    <div class="todo-item-icon control">
        <button class="button"><span class="icon is-small"><i class="fas fa-times"></i></button>
    </div>
</div>