<div id="ccn-todoItem-{{:uuid}}" class="todo-item card">
    <div class="todo-item-words">
        <p id="ccn-todoItem-p-{{:uuid}}">{{:data}}</p>
        <textarea id="ccn-todoItem-textarea-{{:uuid}}" class="textarea"></textarea>
    </div>

    <div id="ccn-todoItem-btnEdit-{{:uuid}}" uuid="{{:uuid}}" class="todo-item-icon control">
        <button class="button"><span class="icon is-small"><i class="fas fa-pen"></i></span></button>
    </div>
    <div id="ccn-todoItem-btnDelete-{{:uuid}}" uuid="{{:uuid}}" class="todo-item-icon control">
        <button class="button"><span class="icon is-small"><i class="fas fa-trash"></i></button>
    </div>

    <div id="ccn-todoItem-btnUpdate-{{:uuid}}" uuid="{{:uuid}}" class="todo-item-icon control">
        <button class="button"><span class="icon is-small"><i class="fas fa-check"></i></span></button>
    </div>
    <div id="ccn-todoItem-btnCancelUpdate-{{:uuid}}" uuid="{{:uuid}}" class="todo-item-icon control">
        <button class="button"><span class="icon is-small"><i class="fas fa-times"></i></button>
    </div>
</div>