<div id="ccn-userItem-{{:uuid}}" class="user-item card">
    <div class="user-item-words">
        <div class="control" style="display: flex; flex-flow: row; align-items: center;">
            <div id="ccn-userItem-iconIsAdmin-{{:uuid}}" class="icon is-small" style="margin-right: 1rem;">
                <i class="fas fa-wrench"></i>
            </div>
            <div id="ccn-userItem-textName-{{:uuid}}">{{>username}}</div>
        </div>
        <div id="ccn-userItem-boxPassword-{{:uuid}}" class="field">
            <label class="label" i18n-name="ccn-i18n-userItem-newPassword"></label>
            <div class="control">
                <input id="ccn-userItem-inputPassword-{{:uuid}}" class="input" type="password"></input>
            </div>
        </div>
        <div id="ccn-userItem-boxIsAdmin-{{:uuid}}" class="field">
            <label class="checkbox">
                <input id="ccn-userItem-inputIsAdmin-{{:uuid}}" type="checkbox"><span i18n-name="ccn-i18n-userItem-isAdmin"></span>
            </label>
        </div>
    </div>

    <div id="ccn-userItem-btnEdit-{{:uuid}}" uuid="{{:uuid}}" class="user-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-pen"></i></span></a>
    </div>
    <div id="ccn-userItem-btnDelete-{{:uuid}}" uuid="{{:uuid}}" class="user-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-trash"></i></span></a>
    </div>

    <div id="ccn-userItem-btnUpdate-{{:uuid}}" uuid="{{:uuid}}" class="user-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-check"></i></span></a>
    </div>
    <div id="ccn-userItem-btnCancelUpdate-{{:uuid}}" uuid="{{:uuid}}" class="user-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-times"></i></span></a>
    </div>
</div>