<div class="user-item card">
    <div class="user-item-words">
        <p><b>this is a name</b></p>
    </div>

    <div class="user-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-pen"></i></span></a>
    </div>
    <div class="user-item-icon control">
        <a class="button"><span class="icon is-small"><i class="fas fa-trash"></i></span></a>
    </div>
</div>
<div class="user-item card">
    <div class="user-item-words">
        <p><b>this is a name</b></p>
        <div class="control">
            <input class="input" type="password" placeholder="New password"></input>
        </div>
    </div>

    <div class="user-item-icon control">
        <a class="button" href="javascript:void(0);"><span class="icon is-small"><i class="fas fa-check"></i></span></a>
    </div>
    <div class="user-item-icon control">
        <a class="button" href="javascript:void(0);"><span class="icon is-small"><i class="fas fa-times"></i></span></a>
    </div>
</div>