div.user-item {
    display: flex;
    flex-flow: row;
    align-items: flex-start;

    padding: 1.25rem;
    margin-bottom: 1.25rem;
}

div.user-item-words {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    flex-grow: 1;
    flex-basis: 0;

    word-break: break-all;
}

div.user-item-icon {
    margin-left: 0.75rem;
}





div.control-list {
    display: flex; 
    flex-flow: row;
    flex-wrap: wrap;
}

div.control-list > * {
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
}