#ccn-calendar-calendarBody > div:nth-child(n+2) > div {
    border-top: 0 solid black;
    border-left: 0 solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    padding: 0.75em;

    display: flex;
    flex-flow: column;
    align-items: flex-start;

    overflow: hidden;
}

#ccn-calendar-calendarBody > div:nth-child(n+2) > div:nth-child(1) {
    border-left: 1px solid black;
}

#ccn-calendar-calendarBody > div:nth-child(2) > div {
    border-top: 1px solid black;
}

#ccn-calendar-calendarBody > div > div {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;

    overflow: hidden;
}

#ccn-calendar-calendarBody > div > div[isCurrentMonth=false] {
    background: #d0d0d0;
}

#ccn-calendar-calendarBody > div {
    display: flex;
    flex-flow: row;
}






div.calendarItem-eventBox {
    border: 1px solid black;
    border-radius: 2px;
    margin-top: 0.2rem;
    height: 0.75rem;
    width: 100%;
}

div.calendarItem-eventBox[enableDisplay=true] {
    visibility: visible;
}
div.calendarItem-eventBox[enableDisplay=false] {
    visibility: hidden;
}





div.schedule-day {
    display: flex;
    flex-flow: column;
}

div.schedule-day-words {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

div.schedule-event-list {
    display: flex;
    flex-flow: column;
}

div.schedule-event-outter {
    display: flex;
    flex-flow: row;
    align-items: flex-start;

    margin-bottom: 1.25rem;
}

div.schedule-event-inner {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    
    padding: 1.25rem;
}

div.schedule-event-words {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    flex-grow: 1;
    flex-basis: 0;

    word-break: break-all;
}

div.schedule-event-icon {
    margin-left: 0.75rem;
}

div.schedule-event-color {
    width: 0.75rem; 
    height: 100%;
}

#ccn-calendar-scheduleList div.schedule-day:nth-child(n+2) {
    border-top: 1px solid rgba(219,219,219,.5);
}





div.collection-item {
    display: flex;
    flex-flow: row;
    align-items: flex-start;

    padding: 1.25rem;
    margin-bottom: 1.25rem;
}

div.collection-item-words {
    flex-grow: 1;
    flex-basis: 0;

    word-break: break-all;
}

div.collection-item-icon {
    margin-left: 0.75rem;
}







div.control-list {
    display: flex; 
    flex-flow: row;
    flex-wrap: wrap;
}

div.control-list > * {
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    margin-left: 0 !important;
}